$primary-color: #0046b5;
$secondary-color: #d9e2ec;

$body-background: #f8f4fc;
$component-background: #ffffff;

$btn-primary-bg: $primary-color;
$btn-default-bg: $secondary-color;
$btn-border-radius-base: 4px;

$card-background: $component-background;
$card-head-background: $secondary-color;

$error-color: #ff000099;