.card {
    margin: 0 auto;
    width: 95%;
    background-color: #ffffff;
    padding: 2rem 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    color: #101010;
}

.title {
    margin-bottom: 2rem;
}